.design{
    text-align: center;
    width :500px;
    padding: 40px;
    position: absolute;
    top :50%;
    left:50%;
    font-size: medium;
    transform: translate(-50%,-50%);

}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }